.button-primary {
  background-color: #d38407;
  padding: 20px;
  color: #ffffff;
}
* {
  font-family: 'Nunito', sans-serif;
}
button-primary {
  background-color: #d38407;
  padding: 20px;
  color: #ffffff;
  background: #383f34;
  padding: 10px 30px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
}
button-primary:hover {
  background-color: #d3ad00;
}
.top-phone-icon {
  max-width: 15px;
  padding-right: .75%;
}
header {
  background-color: #ffffff;
  max-width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top-bar {
  background-color: #383f34;
  padding: 10px 0px;
  width: 100%;
}
.top-bar-div p {
  color: #e4eae1;
  margin: 0%;
  padding-right: 30px;
  padding: 5px, 100px, 0px, 0px;
  padding-top: 5px;
  font-size: .75rem;
  font-weight: bold;
}
.green-white-header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25rem;
}
body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  margin: 0px;
  max-width: 100%;
  background-color: #e4eae1;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}
nav ul li {
  margin: 0% 5%;
}
main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 100%;
}
.what-we-do-main {
  max-width: 1700px;
  margin: auto;
}
.home-section p {
  font-size: 1.25rem;
  margin: 0% 30%;
}
.home-hero {
  background-image: url("../images/walking.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 650px;
  position: relative;
}
.home-hero-overlay-message {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  padding: 1% 4.5%;
  top: 15%;
  right: 4%;
  border-radius: 2px;
}
.home-icon-p {
  font-size: 2.25rem;
  font-weight: bold;
}
.quote {
  padding: .5% .0% 0%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.quote-by-line {
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #d3ad00;
  padding: 3px;
  float: right;
  text-align: center;
  margin-right: 15px;
  margin-bottom: 5px;
}
.home-section {
  margin: 4% 0%;
  text-align: center;
}
.cover-overlay-hero {
  background: #d3ad00;
  opacity: .1;
  position: absolute;
}
.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social-img {
  margin-right: 10px;
  max-width: 25px;
}
footer {
  background-color: #383f34;
  padding: 20px 0px;
  width: 100%;
}
.footer-right-div p {
  line-height: .5rem;
}
.bottom-p-footer {
  bottom: 10px;
  text-align: center;
  color: #e4eae1;
  font-size: .75rem;
}
.what-we-do-page-section {
  position: relative;
  height: 650px;
}
.what-we-do-page-section h2 {
  color: #ffffff;
  font-size: 2.5rem;
}
.what-we-do-page-section-amanda {
  height: 900px;
  position: relative;
  background-color: #538731;
}
.what-we-do-before-bottom-div-amanda {
  margin-bottom: 10%;
  margin-top: 5%;
}
.what-we-do-page-section-amanda h2 {
  font-size: 2rem;
}
.what-we-do-page-section-amanda p {
  font-size: 1.12rem;
}
.green-overlapping-div h2 {
  font-size: 2rem;
  color: #383f34;
}
.what-we-do-hero {
  background-color: #E4EAE1;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.what-we-do-hero-text p {
  margin-bottom: 8%;
}
.what-we-do-page-center-h2 {
  text-align: center;
  font-size: 2.25rem;
  padding: 5% 0%;
  background-color: #383f34;
  margin: 0;
  color: #ffffff;
}
.button-primary {
  background: #383f34;
  padding: 10px 30px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
}
.what-we-do-hero-text h1 {
  color: #383F34;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}
.what-we-do-page-section {
  background-color: #383f34;
}
.inside-overlapping-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.what-we-do-hero-text p {
  font-size: 1.5rem;
  color: #538731;
}
#more {
  display: none;
}
button {
  background: #383f34;
  padding: 10px 30px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
}
.tab-pane {
  display: none;
}
.tab-pane.active {
  display: block;
}
@media (min-width: 320px) {
  .top-bar-div {
    float: none;
    padding-right: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo {
    padding-left: 10px;
    margin-left: 2px;
    max-width: 200px;
    padding-top: 10px;
  }
  .hamburger {
    display: block;
    background-color: transparent;
    border: 0;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    float: right;
  }
  .hamburger:focus {
    outline: none;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-left: 20%;
    margin-top: 1%;
    width: 70%;
  }
  .footer-divs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-left-div {
    text-align: center;
    color: #e4eae1;
    padding: 1% 1%;
    width: 100%;
  }
  .footer-right-div {
    text-align: center;
    color: #e4eae1;
    padding: 1.2% 3%;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .home-icons-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 5% 18%;
  }
  .white-breasted-bird-img {
    display: none;
  }
  .what-we-do-hero-text {
    float: none;
    padding: 8% 0% 8% 0%;
    width: 80%;
    text-align: center;
    margin: auto;
  }
  .jessica-img {
    position: relative;
    margin-left: 0%;
    max-width: 100%;
  }
  .green-overlapping-div {
    background-color: #e4eae1;
    width: 100%;
    float: none;
    position: relative;
    margin-left: 0%;
    margin-top: 0%;
    padding: 0%;
    border-radius: 0px;
    text-align: center;
  }
  .what-we-do-green-daisy {
    display: none;
  }
  .what-we-do-page-section p {
    text-align: center;
    font-size: 1.15rem;
    color: #383f34;
  }
  .amanda-img {
    position: relative;
    margin-left: 0%;
    margin-top: 0%;
    float: none;
    max-width: 100%;
  }
  .yellow-overlapping-div {
    background-color: #d3ad00;
    width: 100%;
    float: none;
    position: relative;
    margin-left: 0%;
    margin-top: 0%;
    padding: 0%;
    border-radius: 0px;
    text-align: center;
  }
  .what-we-do-yellow-daisy {
    display: none;
  }
  .nav-ul {
    display: none;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav-ul.show {
    text-decoration: none;
    width: 100%;
    display: block;
  }
  .nav-ul.show li {
    background: #538731;
    width: 100%;
  }
  .nav-ul.show li a {
    text-decoration: none;
    background: #538731;
  }
  .green-white-header {
    background-image: none;
  }
  .volunteer-section {
    background-color: #383f34;
    padding: 1% 7% 7% 7%;
  }
  .volunteer-section h1 {
    color: #e4eae1;
    padding: 4%;
    text-align: center;
    font-size: 3rem;
  }
  .volunteer-yellow-span {
    color: #d3ad00;
  }
  .container {
    margin-top: 10%;
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 5%;
    border-radius: 30px;
  }
  .volunteer-quote-section {
    background-color: #e4eae1;
  }
  .volunteer-quote-section h2 {
    padding: 5% 10% 5% 10%;
    text-align: center;
    color: #383f34;
    margin: 0%;
  }
  .around-quote-div {
    position: relative;
    padding-bottom: 10%;
  }
  .quote-div {
    background-color: #fff;
    border-radius: 3px;
    padding: 4% 3%;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0% 20%;
    position: relative;
  }
  .quote-div-inside {
    padding: 2% 3% 1% 1%;
  }
  .quote-byline {
    float: left;
  }
  #nav-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    text-align: center;
  }
  #nav-tab li {
    background-color: #e4eae1;
    padding: .75% 3%;
    border-radius: 30px 30px 0px 0px;
    margin: 0px 10px;
    text-decoration: none;
    list-style-type: none;
  }
  #nav-tab li a {
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    color: #383f34;
    font-weight: bold;
  }
  .nav .active a {
    border-bottom: 1px solid slateblue;
  }
  .nav .active a:hover {
    border-color: transparent;
    background: slateblue;
    color: white;
  }
  .tab-pane {
    display: none;
  }
  .tab-pane.active {
    display: block;
  }
  #tabbed-content li {
    display: inline-block;
    padding: 10px 14px;
    background: #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  #tabbed-content .panel {
    display: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 4px;
  }
  #tabbed-content .panel.active {
    display: block;
  }
}
@media (min-width: 415px) {
  .top-bar-div {
    padding-right: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media (min-width: 768px) {
  .home-icons-div {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 5% 2%;
  }
}
@media (min-width: 1024px) {
  .footer-divs {
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
  }
  .footer-left-div {
    width: 20%;
  }
  .footer-right-div {
    text-align: right;
    width: 30%;
  }
  .logo {
    max-width: 350px;
    padding-top: 0px;
  }
  .hamburger {
    display: none;
  }
  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .jessica-img {
    position: absolute;
    margin-left: 5%;
    max-width: 60%;
  }
  .green-overlapping-div {
    width: 40%;
    float: right;
    position: absolute;
    margin-left: 45%;
    margin-top: 6%;
    padding: 2%;
    border-radius: 1px;
    text-align: left;
  }
  .what-we-do-green-daisy {
    display: block;
  }
  .what-we-do-page-section p {
    text-align: left;
  }
  .amanda-img {
    position: absolute;
    margin-left: 32%;
    margin-top: 7%;
    float: right;
    max-width: 60%;
  }
  .yellow-overlapping-div {
    width: 40%;
    float: left;
    position: absolute;
    margin-left: 10%;
    margin-top: 12%;
    padding: 2%;
    border-radius: 2px;
    text-align: left;
  }
  .what-we-do-yellow-daisy {
    display: block;
  }
  .green-white-header {
    background-image: url("../images/green-white-header.jpg");
    background-size: cover;
  }
}
@media (min-width: 1100px) {
  .white-breasted-bird-img {
    float: right;
    max-height: 550px;
    display: block;
  }
  .what-we-do-hero-text {
    float: left;
    padding: 8% 0% 8% 5%;
    max-width: 100%;
    text-align: left;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .home-icons-div {
    margin: 5% 12%;
  }
}
@media (min-width: 1300px) {
  .home-icons-div {
    margin: 5% 16%;
  }
  .what-we-do-before-bottom-div-jessica {
    background-color: #383f34;
  }
  .what-we-do-before-bottom-div-amanda {
    background-color: #538731;
  }
  .what-we-do-bottom-div {
    max-width: 80%;
    margin: auto;
  }
}
@media (min-width: 1614px) {
  .white-breasted-bird-img {
    float: right;
    max-height: 550px;
    display: block;
  }
  .what-we-do-hero-text {
    padding: 8% 20% 8% 10%;
  }
}
