@import 'mixins';

*{
    font-family: 'Nunito', sans-serif;
}

/////////////// Global Styles /////////////////

button-primary {
    .button-primary();
    &:hover {
        background-color: @yellow;
    }
}

.top-phone-icon {
    max-width: 15px;
    padding-right: .75%;
}

header {
    background-color: @white;
    max-width: 100%;
    position: relative;
    display: flex;
}

.top-bar {
    background-color: @darkgreen;
    padding: @padding-10 @padding-0;
    width: 100%;
}

.top-bar-div p {
    color: @lightgreen;
    margin: 0%;
    padding-right: 30px;
    padding: 5px, 100px, 0px, 0px;
    padding-top: 5px;
    font-size: .75rem;
    font-weight: bold;
}

.green-white-header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: @margin-0;
    max-width:100%;
}

.body-what-we-do {
    background-color: @lightgreen;
}

.nav-menu ul {
    display: flex;
    list-style-type: none;
}

.nav-menu ul li {
    margin: 0% 5%;
}

main {
    flex: 1;
    max-width: 100%;
}

.what-we-do-main {
    max-width: 1700px;
    margin: auto;
}

////////////////// Home Styles /////////////////////

.home-section p {
    font-size: 1.25rem;
    margin: 0% 30%;
}

.home-icon-p {
    font-size: 2.25rem;
    font-weight: bold;
}

.quote {
    padding: .5% .0% 0%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.quote-by-line {
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #d3ad00;
    padding: 5px 10px;
    float: right;
    line-height: 1.75rem;
    text-align: center;
    margin-bottom: 1px;
    margin-right: 15px;
    border-radius: 2px;
    margin-top: 0px;
}

.home-section {
    margin: 4% 0%;
    text-align: center;
}

.cover-overlay-hero {
    background: @yellow;
    opacity: .1;
    position: absolute;
}


.social-icons {
    display: flex;
}

.social-img {
    margin-right: 10px;
    max-width: 25px;
}

footer {
    background-color: @darkgreen;
    padding: @padding-20 @padding-0;
    width: 100%;
}

.footer-right-div p {
    line-height: .5rem;
}

.bottom-p-footer {
    bottom: 10px;
    text-align: center;
    color: @lightgreen;
    font-size: .75rem;
}

///////////////// What We Do Styles ///////////////////

.what-we-do-page-section {
  position: relative;
  height: 650px;
}

.what-we-do-page-section h2 {
  color: @white;
  font-size: 2.5rem;
}

.what-we-do-page-section-amanda {
  height: 900px;
  position: relative;
  background-color: @kellygreen;
}

.what-we-do-before-bottom-div-amanda {
    margin-bottom: 10%;
    margin-top: 5%;
}

.what-we-do-page-section-amanda h2 {
  font-size: 2rem;
}

.what-we-do-page-section-amanda p {
  font-size: 1.12rem;
}

.green-overlapping-div h2 {
  font-size: 2rem;
  color: @darkgreen;
}

.what-we-do-hero {
    background-color: #E4EAE1;
    height: 550px;
    display: flex;
}

.what-we-do-hero-text p {
  margin-bottom: 8%;
}

.what-we-do-page-center-h2 {
  text-align: center;
  font-size: 2.25rem;
  padding: 5% 0%;
  background-color: @darkgreen;
  margin: 0;
  color: @white;
}

.button-primary {
  background: @darkgreen;
  padding: 10px 30px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
}

.what-we-do-hero-text h1 {
    color: #383F34;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}

.what-we-do-page-section {
    background-color: @darkgreen;
}

.inside-overlapping-div {
  display: flex;
}

.what-we-do-hero-text p {
    font-size: 1.5rem;
    color: @kellygreen;
}

////// Read More Read Less button /////////

.more {
  display: none;
}

button {
  background: @darkgreen;
  padding: 10px 30px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
}

/////////////////// Volunteer Page /////////////////
.tab-pane { 
    display: none;
  }
  
.tab-pane.active { 
    display: block; 
}

////////////////////////////////// Media Query Min-Width 320px Start //////////////////////////////////

//Global

@media(min-width: 320px) {
    .top-bar-div {
        float: none;
        padding-right: 0%;
        display: flex;
        justify-content: center;
    }

    .hamburger {
        display: block;
        background-color: transparent;
        border: 0;
        color: @white;
        font-size: 15px;
        cursor: pointer;
        float: right;
        padding: 10px 0px!important;
    }

    .hamburger:focus {
       outline: none;
  }

    .logo {
        display: none;
    }

    .mobile-logo {
        display: block;
        max-width: 60%;
        margin-left: 2%;
        margin-top: 5%;
        text-align: center;
        position: absolute;
    }

    .nav-menu {                             //should this be nav-tab?        or do these do anything anyway?
       display: flex;
       flex-wrap: wrap;
       justify-content: flex-end;
       //margin-left:20%;
       margin-top: 1%;
       //width: 70%;
       width: 100%;
   }

   .nav-menu ul li {
       margin: 0% 0%;
       width: 100%;
       text-align: center;
       margin: 1%;
       padding: .5%;
   }

  ul {     //So hamburger menu fits 100%
      margin-block-end: 0em;
      padding-inline-start: 0px;
   }

   .home-hero {
    background-image: url("../images/walking.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    position: relative;
}

   .home-hero-overlay-message {
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    padding: 1% 4.5%;
    top: 15%;
    right: 7%;
    border-radius: 5px;
}

   .home-section h2 {
       font-size: 1rem;
   }

   .footer-divs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }  

   .footer-left-div {
    text-align: center;
    color: @lightgreen;
    padding: 1% 1%;
    width: 100%;
   }

   .footer-right-div {
    text-align: center;
    color: @lightgreen;
    padding:  1.2% 3%;
    width: 100%;
    flex: 1;
   }

//Home Page
    .home-icons-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 5% 18%;
    }    

    .white-breasted-bird-img {
        display: none;
    }

    .what-we-do-hero-text {
        float: none;
        padding: 8% 0% 8% 0%;
        width: 80%;
        text-align: center;
        margin: auto;
    }

    .jessica-img {
        position: relative;
        margin-left: 0%;
        max-width: 100%;
    }

    .green-overlapping-div {
        background-color: @lightgreen;
        width: 100%;
        float: none;
        position: relative;
        margin-left: 0%;
        margin-top: 0%;
        padding: 0%;
        border-radius: 0px;
        text-align: center;
    }
    
    .what-we-do-green-daisy {
        display: none;
      }

      .what-we-do-page-section p {
        text-align: center;
        font-size: 1.15rem;
        color: @darkgreen;
    }

    .amanda-img {
        position: relative;
        margin-left: 0%;
        margin-top: 0%;
        float: none;
        max-width: 100%;
      }

      .yellow-overlapping-div {
        background-color: @yellow;
        width: 100%;
        float: none;
        position: relative;
        margin-left: 0%;
        margin-top: 0%;
        padding: 0%;
        border-radius: 0px;
        text-align: center;
      }  

      .what-we-do-yellow-daisy {
        display: none;
      }

      .nav-ul {
        display: none;
        width: 100%;
        justify-content: flex-end;
      }

      .nav-ul.show {
          text-decoration: none;
          width: 100%;
          display: block;
          margin-top: 0px;
      }

      .nav-ul.show li {
          background: @kellygreen;
          width: 100%;
      }

      .nav-ul.show li a {
          text-decoration: none;
          background: @kellygreen;
      }

      .green-white-header {
        background-image: none;
        position: relative;
    }

// Volunteer Page

.volunteer-nav {
    background-color: @orange;
    width: 100%;
    padding: 5px;
}

.volunteer-nav ul {
    display: flex;
    margin-left: 84%;
    list-style-type: none;
}

.volunteer-nav ul li {
    padding: 0% 7%;
}

/*JS Dropdown Nav Starts*/
volunteer-nav ul {
    display: flex;
    padding: 0;
    border: 2px solid #333;
}

.dropdown ul {
    flex-direction: column;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.condensed {
    display: none;
}

volunteer-nav ul li {
    list-style-type: none;
    width: 25%;
    height: 30px;
    text-align: center;
    border: 2px solid #333;
}

.dropdown ul li {
    width: 100%;
}

/*JS Dropdown Nav Ends*/
.volunteer-section {
    background-color: @darkgreen;
    padding: 1% 7% 7% 7%;
}

.volunteer-section h1 {
    color: @lightgreen;
    padding: 4%;
    text-align: center;
    font-size: 3rem;
}

.volunteer-yellow-span {
    color: @yellow;
}

.container {
    margin-top: 10%;
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 5%;
    border-radius: 30px;
    }

.volunteer-quote-section {
    background-color: @lightgreen;
}

.volunteer-quote-section h2 {
    padding: 5% 10% 5% 10%;
    text-align: center;
    color: @darkgreen;
    margin: 0%;
}

.around-quote-div {
    position: relative;
    padding-bottom: 10%;
}

.quote-div {
    background-color: #fff;
    border-radius: 3px;
    padding: 4% 3%;
    text-align: left;
    display: flex;
    margin: 0% 20%;
    position: relative;
}

.quote-div-inside {
    padding: 2% 3% 1% 1%;
}

.quote-byline {
    float: left;
}

#nav-tab {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}

#nav-tab li {
  background-color: @lightgreen;
  padding: .75% 3%;
  border-radius: 30px 30px 0px 0px;
  margin: 0px 10px;
  text-decoration: none;
  list-style-type: none;
}

#nav-tab li a {
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    color: @darkgreen;
    font-weight: bold;
}

.nav .active a { 
  border-bottom: 1px solid slateblue;
  &:hover {
    border-color: transparent;
    background: slateblue;
    color: white;
  }
}

.tab-pane { 
  display: none;
}

.tab-pane.active { 
  display: block; 
}    

//Tabbed Content
#tabbed-content li {
    display: inline-block;
    padding: 10px 14px;
    background: #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

#tabbed-content .panel {
    display: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 4px;
}

#tabbed-content .panel.active {
    display: block;
}
}
////////////////////////////////// Media Query Min-Width: 375px Start /////////////////////////////////
@media(min-width: 375px) {
    .mobile-logo {
        margin-left: 2%;
        margin-top: 1.75%;
        text-align: center;
    }

    .home-hero-overlay-message {
        right: 13%;
    }
}
////////////////////////////////// Media Query Min-Width: 375px End ///////////////////////////////////
////////////////////////////////// Media Query Min-Width 415px Start //////////////////////////////////


@media(min-width: 415px) {
    .top-bar-div {
        padding-right: 2%;
        display: flex;
        justify-content: flex-end;
    }

    .mobile-logo {
        margin-top: 2%;
        text-align: center;
    }

    .home-hero-overlay-message {
        right: 16%;
    }
}

////////////////////////////////// Media Query Min-Width 768px Start ///////////////////////////////////

@media(min-width: 768px) {
.home-icons-div {
    flex-wrap: nowrap;
    margin: 5% 2%;
 }

 .hamburger {
     padding: 50px 25px!important;
}   

.home-hero-overlay-message {
    right: 4%;
}

}
////////////////////////////////// Media Query Min-Width 1024px Start //////////////////////////////////

@media(min-width: 1024px) {

 //Global
 
 .logo {
     display: block;
     padding-left: @padding-10;
     margin-left: 2px;
     max-width: 200px;
     padding-top: 10px;
 }

    .mobile-logo {
        display: none;
}

 ul {     //For desktop nav menu
    padding-inline-start: 40px;
 }

 .home-hero {
    height: 650px;
}

.home-section h2 {
    font-size: 1.5rem;
}

 .footer-divs {
    flex-wrap: no-wrap;
   }  

   .footer-left-div {
    width: 20%;
   }

   .footer-right-div {
    text-align: right;
    width: 30%;
   }

    .logo {
        max-width: 350px;
        padding-top: 0px;
    }

    .hamburger {
        display: none;
    }

    .nav-menu {
        justify-content: space-between;
    }

    .nav-menu ul li {
        width: 25%;
        padding: 0;
    }

//What We Do Page

    .nav-ul {
      display: flex;
      }

    .jessica-img {
        position: absolute;
        margin-left: 5%;
        max-width: 60%;
    }

    .green-overlapping-div {
        width: 40%;
        float: right;
        position: absolute;
        margin-left: 45%;
        margin-top: 6%;
        padding: 2%;
        border-radius: 1px;
        text-align: left;
      }
    
    .what-we-do-green-daisy {
        display: block;
      }

    .what-we-do-page-section p {
        text-align: left;
    }

    .amanda-img {
        position: absolute;
        margin-left: 32%;
        margin-top: 7%;
        float: right;
        max-width: 60%;
      }

    .yellow-overlapping-div {
        width: 40%;
        float: left;
        position: absolute;
        margin-left: 10%;
        margin-top: 12%;
        padding: 2%;
        border-radius: 2px;
        text-align: left;
      }

    .what-we-do-yellow-daisy {
        display: block;
    }

    .green-white-header {
        background-image: url("../images/green-white-header.jpg");
        background-size: cover;
    }
}

////////////////////////////////// Media Query Min-Width 1100px Start //////////////////////////////////

@media(min-width:1100px) {
    .white-breasted-bird-img {
        float: right;
        max-height: 550px;
        display: block;
    }

    .what-we-do-hero-text {
        float: left;
        padding: 8% 0% 8% 5%;
        max-width: 100%;
        text-align: left;
        margin: 0;
    }
}

////////////////////////////////// Media Query Min-Width 1200px Start //////////////////////////////////

@media(min-width:1200px) {
    .home-icons-div {
      margin: 5% 12%;
    }
}
////////////////////////////////// Media Query Min-Width 1300px Start //////////////////////////////////

@media(min-width:1300px) {

    .nav-menu ul li {
        margin: 0;
        width: 16%;
    }    

//Home Page
    .home-icons-div {
    margin: 5% 16%;
}
//What We Do Page
    .what-we-do-before-bottom-div-jessica {
        background-color: @darkgreen;
    }

    .what-we-do-before-bottom-div-amanda {
        background-color: @kellygreen;
    }

    .what-we-do-bottom-div {
        max-width: 80%;
        margin: auto;
    }

}

////////////////////////////////// Media Query Min-Width 1614px Start //////////////////////////////////

@media(min-width:1614px) {
    .white-breasted-bird-img {
        float: right;
        max-height: 550px;
        display: block;
    }

    .what-we-do-hero-text {
        padding: 8% 20% 8% 10%;
    }
}

