@import 'mixins';

*{
    font-family: 'Nunito', sans-serif;
}

// Global
button-primary {
    .button-primary();
    &:hover {
        background-color: @yellow;
    }
}

// Nav and Footer
//nav, footer {
//    padding: @padding-20;
//    background-color: @darkgreen;
//}

header {
    background-color: @white;
    max-width: 100%;
    position: relative;
    display: flex;
}

.top-bar {
    background-color: @darkgreen;
    padding: @padding-10 @padding-0;
    width: 100%;
}

.top-bar-div {
    float: right;
    padding-right: 2%;
    display: flex;
}

.top-bar-div p {
    color: @lightgreen;
    margin: 0%;
    padding-right: 30px;
    padding: 5px, 100px, 0px, 0px;
    padding-top: 5px;
    font-size: .75rem;
    font-weight: bold;
}

.logo {
    padding-left: @padding-10;
    margin-left: 2%;
    max-width: 350px;
}

.green-white-header {
    background-image: url("../images/green-white-header.jpg");
    background-size: cover;
}

.green-white-header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: @margin-0;
    max-width:100%;
}

nav {
    display: inline-block;
    margin-left:40%;
    margin-top: 1%;
}

nav ul li {
    display: inline-block;
    margin-left:70px;
    color: @white;
}

main {
    flex: 1;
    max-width:100%
}

.home-section p {
    font-size: 1.25rem;
    margin: 0% 30%;
}

.what-we-do-page-section {
  position: relative;
  height: 900px;
}


.what-we-do-page-section h2 {
  color: @white;
  font-size: 2.5rem;
}

.what-we-do-page-section p {
    text-align: left;
    font-size: 1.15rem;
    color: @darkgreen;
}

.what-we-do-page-section-amanda {
  height: 900px;
  position: relative;
  background-color: @kellygreen;
}

.what-we-do-page-section-amanda h2 {
  font-size: 2rem;
}

.what-we-do-page-section-amanda p {
  font-size: 1.12rem;
}

.green-overlapping-div {
  background-color: @lightgreen;
  width: 40%;
  float: right;
  position: absolute;
  margin-left: 45%;
  margin-top: 6%;
  padding: 2%;
  border-radius: 1px
}

.green-overlapping-div h2 {
  font-size: 2rem;
  color: @darkgreen;
}

.jessica-img {
  position: absolute;
  margin-left: 5%;
}

.home-hero {
    background-image: url("../images/walking.jpg");
    background-size: cover;
    height: 500px;
    position: relative;
}

.home-hero-overlay-message {
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    padding: 1% 4.5%;
    top: 15%;
    right: 4%;
    border-radius: 2px;
}

.home-icons-div {
    display: flex;
    justify-content: space-around;
    margin: 5% 18%;
}

.home-icon-p {
    font-size: 2.25rem;
    font-weight: bold;
}

.quote {
    padding: .5% .0% 0%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.quote-by-line {
    font-size: 1.25rem;
    font-weight: bold;
    background-color: @yellow;
    padding: 3px;
    float: right;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 5px;
}

.home-section {
    margin: 4% 0%;
    text-align: center;
}

.cover-overlay-hero {
    background: @yellow;
    opacity: .1;
    position: absolute;
    //width: 100%;
    //height: 100%;
}

.social-icons {
    display: flex;
}

.social-img {
    margin-right: 10px;
    max-width: 25px;
}

footer {
    background-color: @darkgreen;
    padding: @padding-20 @padding-0;
    width: 100%;
}

.footer-divs {
    display: flex;
    justify-content: space-between;
}

.footer-left-div {
    text-align: center;
    color: @lightgreen;
    padding: 1% 3%;
}

.footer-middle-div {
    text-align: center;
    padding: 3% 0%;
}

.footer-right-div {
    text-align: right;
    color: @lightgreen;
    padding:  1% 3%;
}

.bottom-p-footer {
    bottom: 10px;
    text-align: center;
    color: @lightgreen;
    font-size: .75rem;
}

//What We Do Page
.what-we-do-hero {
    background-color: #E4EAE1;
    height: 550px;
}

.white-breasted-bird-img {
    float: right;
    max-height: 550px;
}

.what-we-do-hero-text {
    float: left;
    padding: 7% 0% 0% 15%;
    width: 40%;
}

.what-we-do-hero-text p {
  margin-bottom: 8%;
}

.what-we-do-page-center-h2 {
  text-align: center;
  font-size: 2.25rem;
  padding: 5% 0%;
  background-color: @darkgreen;
  margin: 0;
  color: @white;
}

.amanda-img {
  position: absolute;
  margin-left: 34%;
  margin-top: 7%;
  float: right;
}


.yellow-overlapping-div {
  background-color: @yellow;
  width: 40%;
  float: left;
  position: absolute;
  margin-left: 10%;
  margin-top: 12%;
  padding: 2%;
  border-radius: 2px;
}

.button-primary {
  background: @darkgreen;
  padding: 10px 30px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
}

.what-we-do-hero-text h1 {
    color: #383F34;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}

.what-we-do-page-section {
    background-color: @darkgreen;
}

.inside-overlapping-div {
  display: flex;
}

.what-we-do-hero-text p {
    font-size: 1.5rem;
    color: @kellygreen;
}

// Read More Read Less button

#more {
  display: none;
}

button {
  background: @darkgreen;
  padding: 10px 30px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
}
